#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=extvol-device-listener.py
Name=Extended volume listener
Comment=Listens for mounted volumes which could be extended volumes 
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-Phase=Applications
X-Ubuntu-Gettext-Domain=extended-volume-manager
